html, body {
  overflow-y:scroll;
}
nav {
  background-image: url("profiles/Top3.jpg");
    /* Set the height and other styles as needed */
    min-height:25vh; /* Adjust as necessary */
    background-position: right 100%;
    background-repeat: no-repeat;
    background-size: cover; /* Scale the image to fit the white part */
    backdrop-filter: blur(100px);
    background-size: 110%;
    box-shadow: 0 8px 6px -6px black;
  
  
}


  #home {
     background: 
    linear-gradient(
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(230, 230, 230, 0.637),
      rgba(107, 107, 107, 0.637)  
    )
  }

  #maths {
    background: 
   linear-gradient(
    rgba(209, 209, 209, 0.637),
    rgba(209, 209, 209, 0.637),
    rgba(209, 209, 209, 0.637),
    rgba(209, 209, 209, 0.637),
    rgba(209, 209, 209, 0.637),
    rgba(209, 209, 209, 0.637),
    rgba(190, 190, 190, 0.637),
    rgba(190, 190, 190, 0.637),
    rgba(190, 190, 190, 0.637),
    rgba(190, 190, 190, 0.637)
   )
 }

 #physics {
  background: 
 linear-gradient(
  rgba(189, 185, 185, 0.637),
  rgba(189, 185, 185, 0.637),
  rgba(189, 185, 185, 0.637),
  rgba(189, 185, 185, 0.637),
  rgba(189, 185, 185, 0.637),
  rgba(189, 185, 185, 0.637),
  rgba(189, 185, 185, 0.637),
  rgba(189, 185, 185, 0.637),
  rgba(189, 185, 185, 0.637)
 )
}
#history {
  background: 
 linear-gradient(
  rgba(189, 185, 185, 0.637),
  rgba(189, 185, 185, 0.637),
  rgba(189, 185, 185, 0.637),
  rgba(189, 185, 185, 0.637),
  rgba(189, 185, 185, 0.637),
  rgba(189, 185, 185, 0.637),
  rgba(189, 185, 185, 0.637),
  rgba(189, 185, 185, 0.637),
  rgba(189, 185, 185, 0.637),
  rgba(233, 173, 124, 0.637)
 )
}

#chemistry {
  background: 
 linear-gradient(
  rgba(189, 185, 185, 0.637),
  rgba(189, 185, 185, 0.637),
  rgba(189, 185, 185, 0.637),
  rgba(189, 185, 185, 0.637),
  rgba(189, 185, 185, 0.637),
  rgba(189, 185, 185, 0.637),
  rgba(189, 185, 185, 0.637),
  rgba(189, 185, 185, 0.637),
  rgba(189, 185, 185, 0.637),
  rgba(233, 207, 121, 0.637)
 )
}

#english {
  background: 
 linear-gradient(
  rgba(189, 185, 185, 0.637),
  rgba(189, 185, 185, 0.637),
  rgba(189, 185, 185, 0.637),
  rgba(189, 185, 185, 0.637),
  rgba(189, 185, 185, 0.637),
  rgba(189, 185, 185, 0.637),
  rgba(189, 185, 185, 0.637),
  rgba(189, 185, 185, 0.637),
  rgba(189, 185, 185, 0.637),
  rgba(233, 207, 121, 0.637)
 )
}

#biology {
  background: 
 linear-gradient(
  rgba(189, 185, 185, 0.637),
  rgba(189, 185, 185, 0.637),
  rgba(189, 185, 185, 0.637),
  rgba(189, 185, 185, 0.637),
  rgba(189, 185, 185, 0.637),
  rgba(189, 185, 185, 0.637),
  rgba(189, 185, 185, 0.637),
  rgba(189, 185, 185, 0.637),
  rgba(189, 185, 185, 0.637),
  rgba(123, 230, 176, 0.637)
 )
}

#psychology {
  background: 
 linear-gradient(
  rgba(189, 185, 185, 0.637),
  rgba(189, 185, 185, 0.637),
  rgba(189, 185, 185, 0.637),
  rgba(189, 185, 185, 0.637),
  rgba(189, 185, 185, 0.637),
  rgba(189, 185, 185, 0.637),
  rgba(189, 185, 185, 0.637),
  rgba(189, 185, 185, 0.637),
  rgba(189, 185, 185, 0.637),
  rgba(154, 209, 226, 0.637)
 )
}

#prices {
  background: 
 linear-gradient(
  rgba(189, 185, 185, 0.637),
  rgba(197, 201, 201, 0.637)
 )
}

#about {
  background: 
 linear-gradient(
  rgba(194, 194, 194, 0.637),
  rgba(194, 194, 194, 0.637),
  rgba(194, 194, 194, 0.637),
  rgba(194, 194, 194, 0.637),
  rgba(194, 194, 194, 0.637),
  rgba(194, 194, 194, 0.637),
  rgba(107, 107, 107, 0.637) 
 )
}
#query {
  background: 
 linear-gradient(
  rgba(189, 185, 185, 0.637),
  rgba(197, 201, 201, 0.637)
 )
}

  span{
    color:#0fa30f
  }
  .navbar-nav li a {
    line-height: 60px;
    height: 60px;
    padding-top: 0;
    font-size: 20px;
  }
  .centerBlock {
    display: table;
    margin: auto;
  }



   @media (max-width: 1000px){
   .carousel-inner .carousel-item {
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 0.2s;
  }
  #maths {
    background: 
   linear-gradient(
     rgba(189, 185, 185, 0.637),
     rgba(189, 185, 185, 0.637),
     rgba(189, 185, 185, 0.637),
     rgba(189, 185, 185, 0.637),
     rgba(189, 185, 185, 0.637),
     rgba(189, 185, 185, 0.637),
     rgba(189, 185, 185, 0.637),
     rgba(189, 185, 185, 0.637),
     rgba(189, 185, 185, 0.637),
     rgba(189, 185, 185, 0.637),
     rgba(189, 185, 185, 0.637),
     rgba(189, 185, 185, 0.637),
     rgba(189, 185, 185, 0.637),
     rgba(189, 185, 185, 0.637),
     rgba(189, 185, 185, 0.637),
     rgba(189, 185, 185, 0.637),
     rgba(189, 185, 185, 0.637),
     rgba(189, 185, 185, 0.637),
     rgba(189, 185, 185, 0.637),
     rgba(189, 185, 185, 0.637),
     rgba(189, 185, 185, 0.637),
     rgba(116, 128, 235, 0.637)
   )
    }
    #physics {
      background: 
     linear-gradient(
       rgba(189, 185, 185, 0.637),
       rgba(189, 185, 185, 0.637),
       rgba(189, 185, 185, 0.637),
       rgba(189, 185, 185, 0.637),
       rgba(189, 185, 185, 0.637),
       rgba(189, 185, 185, 0.637),
       rgba(189, 185, 185, 0.637),
       rgba(189, 185, 185, 0.637),
       rgba(189, 185, 185, 0.637),
       rgba(189, 185, 185, 0.637),
       rgba(189, 185, 185, 0.637),
       rgba(189, 185, 185, 0.637),
       rgba(189, 185, 185, 0.637),
       rgba(189, 185, 185, 0.637),
       rgba(189, 185, 185, 0.637),
       rgba(189, 185, 185, 0.637),
       rgba(189, 185, 185, 0.637),
       rgba(189, 185, 185, 0.637),
       rgba(189, 185, 185, 0.637),
       rgba(189, 185, 185, 0.637),
       rgba(189, 185, 185, 0.637),
       rgba(180, 124, 233, 0.637)
     )
      }
      #chemistry {
        background: 
       linear-gradient(
         rgba(189, 185, 185, 0.637),
         rgba(189, 185, 185, 0.637),
         rgba(189, 185, 185, 0.637),
         rgba(189, 185, 185, 0.637),
         rgba(189, 185, 185, 0.637),
         rgba(189, 185, 185, 0.637),
         rgba(189, 185, 185, 0.637),
         rgba(189, 185, 185, 0.637),
         rgba(189, 185, 185, 0.637),
         rgba(189, 185, 185, 0.637),
         rgba(189, 185, 185, 0.637),
         rgba(189, 185, 185, 0.637),
         rgba(189, 185, 185, 0.637),
         rgba(189, 185, 185, 0.637),
         rgba(189, 185, 185, 0.637),
         rgba(189, 185, 185, 0.637),
         rgba(189, 185, 185, 0.637),
         rgba(189, 185, 185, 0.637),
         rgba(189, 185, 185, 0.637),
         rgba(189, 185, 185, 0.637),
         rgba(189, 185, 185, 0.637),
         rgba(233, 207, 121, 0.637)
       )
        }
        #psychology {
          background: 
         linear-gradient(
           rgba(189, 185, 185, 0.637),
           rgba(189, 185, 185, 0.637),
           rgba(189, 185, 185, 0.637),
           rgba(189, 185, 185, 0.637),
           rgba(189, 185, 185, 0.637),
           rgba(189, 185, 185, 0.637),
           rgba(189, 185, 185, 0.637),
           rgba(189, 185, 185, 0.637),
           rgba(189, 185, 185, 0.637),
           rgba(189, 185, 185, 0.637),
           rgba(189, 185, 185, 0.637),
           rgba(189, 185, 185, 0.637),
           rgba(189, 185, 185, 0.637),
           rgba(189, 185, 185, 0.637),
           rgba(189, 185, 185, 0.637),
           rgba(189, 185, 185, 0.637),
           rgba(189, 185, 185, 0.637),
           rgba(189, 185, 185, 0.637),
           rgba(189, 185, 185, 0.637),
           rgba(189, 185, 185, 0.637),
           rgba(189, 185, 185, 0.637),
           rgba(154, 209, 226, 0.637)
         )
          }
  }

  .subjectbg {
    width: 90%;
    scale: 60%;
    background: white;
    color: #fff;
    position: relative;
    overflow: hidden;
    border-radius: 35px;
    box-shadow: 10px 10px 5px rgb(0, 0, 0);
    -moz-box-shadow: 10px 10px 5px rgb(0, 0, 0);
    -webkit-box-shadow: 10px 10px 5px rgb(143, 137, 137);
    -khtml-box-shadow: 10px 10px 5px rgb(0, 0, 0);
  }
  
    
    .subjectimg {
      display: block;
      position: absolute;
      top: -5%;
      left: -5%;
      width: 110%;
      height: 110%;

      -webkit-filter: blur(5px);
      -moz-filter: blur(5px);
      -ms-filter: blur(5px);
      filter: blur(5px);
      
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    
    .subjectoverlay {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    
    }
    
    .subjecttext {
      text-align: center;
      position: relative;
      font-size: 7vw;
      padding: 4%;
      margin: 0;
    }

    